@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* CARD */

:root {
    --color-primary: #8451E3;
    --color-secondary:rgb(95, 44, 188);
}

.card {
    background-color: #fff;
    max-width: 300px;
    border-radius: 6px;

    overflow: auto; /* important */

    box-shadow: 0px 1px 8px 0px rgba(1, 1, 1, 0.145);
}

.card .card-img {
    width: 100%;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
}

.card .card-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-body h2 {
    font-size: 1.37rem; /* 22px */
    font-weight: 700;
}

.card-body .card-subtitle {
    font-size: 1rem; /* 16px */
    font-weight: 400;
    color:  var(--color-primary);
}

.card-body .card-text {
    font-size: 0.875rem; /* 14px */
    font-weight: 300;
}

.card .card-body .card-button {
    background-color: var(--color-primary);
    color: #fff;
    font-size: 1rem;
    height: 2.5rem; /* 40px */

    border: none;
    border-radius:3px;
}

.card .card-body .card-button:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
}